#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

}

.inputBox {
    color: white;
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;/*Para quando clicar no linha de cadastro, nao aparecer o contraste em volta. */
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px; /*Aumentar o espaço entre cada caracter */

}

.labelInput{

    position: absolute;
    

}

#titulo {
    color: white;

}

#submit {

}

body {
    font-family: Arial, Helvetica, sans-serif;/* para mudar as letras*/
    /* background-image: linear-gradient(to right, rgb(20,147, 220), rgb(17, 54, 71) (Outro estilo de fundo mais simples)*/
    
}

.formCadastro{
    position: absolute;/*para ocupar apenas o espaço dela mesma*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*centralizando */
    background-color: rgba(0, 0, 0, 0.8); /*para deixar transparente a box do formulário */
    padding: 15px;
    border-radius: 15px; /*Para nivelar a borda */
    width: 20%;

}

legend{
    border: 1px solid;
    padding: 10px;
    text-align: center;
    border-radius: 5px;

}