#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.centralizar {

    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-video{

    position: fixed; /* Fixa o video na tela, mesmo com a rolagem */
    top: 0;
    left: 0;
    width: 100vw; /* 100% da largura da viewport (tela) */
    height: 100vh; /* 100% da altura da viewport (tela) */
    object-fit: cover; /* Faz o vídeo cobrir todo o fundo sem distorção */
    z-index: -1; /* Coloca o vídeo atrás de todo o conteúdo */
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.login {

    background-color: rgba(0, 0, 0, 0.9); /*Definir uma cor com transparência */
    position: absolute; /* Posicionar um elemento em relação ao seu container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Eixo X e Y, esta sendo usado para centralizar mais o menu de login */
    padding: 80px; /* Para aumentar a distancia entre o elemento e a borda */
    border-radius: 15px; /*Para arredondar a borda*/
    color: white;

}

#Input-login {

    padding: 8px;
    border: none;
}

button {

    border: none;
    padding: 10px 20px;
    width: auto;
    border-radius: 5px;
    margin: 10px 5px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    
}

