#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

}

.inputBox {
    color: white;
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;/*Para quando clicar no linha de cadastro, nao aparecer o contraste em volta. */
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px; /*Aumentar o espaço entre cada caracter */

}

#titulo {
    color: white;

}

body {
    font-family: Arial, Helvetica, sans-serif;/* para mudar as letras*/
    /* background-image: linear-gradient(to right, rgb(20,147, 220), rgb(17, 54, 71) (Outro estilo de fundo mais simples)*/
    
}

.formCadastro{
    position: absolute;/*para ocupar apenas o espaço dela mesma*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*centralizando */
    background-color: rgba(0, 0, 0, 0.8); /*para deixar transparente a box do formulário */
    padding: 15px;
    border-radius: 15px; /*Para nivelar a borda */
    width: 20%;

}

legend{
    border: 1px solid;
    padding: 10px;
    text-align: center;
    border-radius: 5px;

}
.labelInput{/*Para trabalhar na animação ao clicar no campo de preencher. */

    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5px;

}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {/*o "focus" faz criar uma animação no labelInput ao clicar na linha para informação, como nome, email, etc. O valid, faz com que ao preencher o nome, email, etc. Nao volte a palavra email, nome para nao conflitar visualmente com a informação adicionada. */
    top: -20px; /*faz a palavra email, nome completo etc, ir para cima */
    font-size: 12px;
    color:orchid;
    /*
    color:lightblue; // cores boas tambem
    color:orchid;*/
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px; /*Deixar a borda circular */
    outline: none; /*Para sumir a linha que fica ao clicar */
    font-size: 15px;
}

#data_texto{
    color: white;
}

#submit{
    background-image: linear-gradient(to right, rgb(0,92,187), rgb(90,20,220));
    width: 100%;/*Aumenta a largura */
    border: none;/*Tirar a borda*/
    padding: 15px;/*Aumenta a altura */
    color: white;
    font-size: 15px;
    cursor: pointer;/*Para mudar o cursor quando passar em cima */
    border-radius: 10px;

}

#submit:hover{/*Quando passar o mouse por cima, a cor vai ficar mais escura*/
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}