#titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

#afastar {
    margin-top: 100px;
}

#paragrafo {

    font-size: 17px;
}

.centralizar {

    display: flex;
    justify-content: center;
    align-items: center;
}