#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

}

.inputBox {
    color: white;
}

#titulo {
    color: white;

}

#submit {

}

body {
    font-family: Arial, Helvetica, sans-serif;/* para mudar as letras*/
    
}

.formCadastro{
    position: absolute;/*para ocupar apenas o espaço dela mesma*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /*para deixar transparente a box do formulário */
    padding: 15px;
    border-radius: 15px; /*Para nivelar a borda */
    width: 20%;

}

.teste {
    
}